.main {
  min-height: 100vh;    
  display: flex;
  flex-direction: column;
  background-color: #f8f9fb; 
}

.header {
  height: 80px;
  width: 100%;
  position: sticky;     
  z-index: 1;
  margin: 0 auto; 
  background-color: #fbf5f2;
}

.content {
  flex: 1 0 auto;              
}

// .footer {
//   flex: 0 0 auto;
//   background: #1e1e2f;
//   color: #fff;
//   padding: 1rem 2rem;
//   text-align: center;
// }