<div class="block">
    <div class="row">
        <div class="row-imagecol">
            <img src="assets/images/logo.png" alt="logo">
        </div>
        <div class="row-col">
            <div class="row-col-button">
                Home
            </div>
            <div class="row-col-button">
                About Us
            </div>
            <div class="row-col-button">
                Contact Us
            </div>
            <div class="row-col-control">
                <div class="row-col-button1">
                    Parent Protal
                </div>
                <div class="row-col-subtext">
                    Coming Soon!
                </div>
            </div>
        </div>
    </div>
</div>